OTHER/MowerNodeRed.json
[
    {
        "id": "60ab055898a3ccf8",
        "type": "tab",
        "label": "AutoMower",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7002edc85e6333b3",
        "type": "mqtt in",
        "z": "60ab055898a3ccf8",
        "name": "",
        "topic": "AutoMower/Log",
        "qos": "2",
        "datatype": "auto",
        "broker": "571acea9.12d868",
        "x": 140,
        "y": 1500,
        "wires": [
            [
                "0a6fb100cf8184af",
                "909a6f7cacfdd387"
            ]
        ]
    },
    {
        "id": "0a6fb100cf8184af",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "Mower Log Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1460,
        "wires": []
    },
    {
        "id": "909a6f7cacfdd387",
        "type": "json",
        "z": "60ab055898a3ccf8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 1500,
        "wires": [
            [
                "77b6a512c9d7f67b"
            ]
        ]
    },
    {
        "id": "77b6a512c9d7f67b",
        "type": "function",
        "z": "60ab055898a3ccf8",
        "name": "format data",
        "func": "var d = new Date().toJSON().slice(5,19).replace('T', ' ')\n\nvar tmp =[\n    msg.payload.Sender.slice(0,16),\n    msg.payload.Message,\n    msg.payload.Tags,\n    msg.payload.Level\n]\n\nmsg.payload = tmp\n\nmsg.topic=\"INSERT INTO AutoMower_log (`Time`,`Sender`,`Messages`,`Tags`,`Level`) \" + \n\"VALUES (TIMESTAMP(NOW()),?,?,?,?);\"\n\nnode.status({fill:\"green\",shape:\"ring\",text:d});\n\nreturn msg ;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1500,
        "wires": [
            [
                "d3797ff5b508b113"
            ]
        ]
    },
    {
        "id": "d3797ff5b508b113",
        "type": "mysql",
        "z": "60ab055898a3ccf8",
        "mydb": "169ed79e.a6e3e",
        "name": "",
        "x": 640,
        "y": 1500,
        "wires": [
            [
                "1a2d2af9f33ecb38"
            ]
        ]
    },
    {
        "id": "1a2d2af9f33ecb38",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "Write AutoMower Log",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1500,
        "wires": []
    },
    {
        "id": "fc67af2524fdd87d",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "OTA",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"OTA\"}",
        "payloadType": "json",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "94ee634460c65276",
        "type": "mqtt out",
        "z": "60ab055898a3ccf8",
        "name": "",
        "topic": "AutoMower/Command",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "571acea9.12d868",
        "x": 1220,
        "y": 240,
        "wires": []
    },
    {
        "id": "23e6b594fa6fcc3f",
        "type": "function",
        "z": "60ab055898a3ccf8",
        "name": "Purge Log100 days",
        "func": "var d = new Date().toJSON().slice(5,19).replace('T', ' ')\n\nmsg.topic=\"DELETE LOW_PRIORITY from AutoMower_log WHERE Time < DATE_SUB(NOW(),INTERVAL '100 0' DAY_HOUR)\"\n\nnode.status({fill:\"green\",shape:\"ring\",text:d});\n\nreturn msg ;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 1600,
        "wires": [
            [
                "d8da68abf46abccd"
            ]
        ]
    },
    {
        "id": "d8da68abf46abccd",
        "type": "mysql",
        "z": "60ab055898a3ccf8",
        "mydb": "169ed79e.a6e3e",
        "name": "",
        "x": 520,
        "y": 1600,
        "wires": [
            [
                "b766875dd9f6d9a2"
            ]
        ]
    },
    {
        "id": "b766875dd9f6d9a2",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "Deleted Rows",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.affectedRows",
        "targetType": "msg",
        "statusVal": "payload.affectedRows",
        "statusType": "auto",
        "x": 680,
        "y": 1599,
        "wires": []
    },
    {
        "id": "551fb174f1b59776",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "15 minutes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1600,
        "wires": [
            [
                "23e6b594fa6fcc3f",
                "81423afc63c27752"
            ]
        ]
    },
    {
        "id": "e45b8539056bd577",
        "type": "mqtt in",
        "z": "60ab055898a3ccf8",
        "name": "",
        "topic": "AutoMower/Telemetry",
        "qos": "2",
        "datatype": "auto",
        "broker": "571acea9.12d868",
        "x": 140,
        "y": 1280,
        "wires": [
            [
                "e7f7c192a381cab5",
                "789255cc0fc11c9b",
                "f2e957c0305d729c",
                "cf513de1afd13a9b"
            ]
        ]
    },
    {
        "id": "e7f7c192a381cab5",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "Mower Telemetry data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1240,
        "wires": []
    },
    {
        "id": "789255cc0fc11c9b",
        "type": "json",
        "z": "60ab055898a3ccf8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 1280,
        "wires": [
            [
                "30765684c2f7090e"
            ]
        ]
    },
    {
        "id": "30765684c2f7090e",
        "type": "function",
        "z": "60ab055898a3ccf8",
        "name": "format data",
        "func": "var d = new Date().toJSON().slice(5,19).replace('T', ' ')\n\nif (msg.payload.DrvMotTemp < -50.0) { msg.payload.DrvMotTemp = null;}\nif (msg.payload.CMotTemp < -50.0) { msg.payload.CMotTemp = null;}\nif (msg.payload.GPSHead < -999.0) { msg.payload.GPSHead = null;}\nif (msg.payload.GPSHdop < -999.0) { msg.payload.GPSHdop = null;}\nif (msg.payload.GPSSpd < -999.0) { msg.payload.GPSSpd = null;}\nif (msg.payload.GPSAlt < -999.0) { msg.payload.GPSAlt = null;}\nif (msg.payload.GPSLat < -999.0) { msg.payload.GPSLat = 45.369;}\nif (msg.payload.GPSLon < -999.0) { msg.payload.GPSLon = 5.611;}\nif (msg.payload.Pitch == \"nan\") { msg.payload.Pitch = null;}\nif (msg.payload.Roll == \"nan\") { msg.payload.Roll = null;}\n\nvar tmp =[\n    msg.payload.State,\n    msg.payload.Error,\n    msg.payload.BatVolt,\n    msg.payload.ChargeCur,\n    msg.payload.BatSOC,\n    msg.payload.BatCharging,\n    msg.payload.DrvMotTemp,\n    msg.payload.DrvMotTempEr,\n    msg.payload.DrvMotFan,\n    msg.payload.RMotCur,\n    msg.payload.RMotSpd,\n    msg.payload.LMotCur,\n    msg.payload.LMotSpd,\n    msg.payload.CMotTemp,\n    msg.payload.CMotTempEr,\n    msg.payload.CMotFan,\n    msg.payload.CMotCur,\n    msg.payload.CMotSpd,\n    msg.payload.CMotAlm,\n    msg.payload.FSnrDist,\n    msg.payload.RSnrDist,\n    msg.payload.LSnrDist,\n    msg.payload.CompHead,\n    msg.payload.GPSHead/100,\n    msg.payload.GPSSat,\n    msg.payload.GPSHdop,\n    msg.payload.GPSSpd,\n    msg.payload.GPSAlt,\n    msg.payload.GPSLat,\n    msg.payload.GPSLon,\n    msg.payload.Mag,\n    msg.payload.SMag,\n    msg.payload.InOut,\n    msg.payload.Pitch,\n    msg.payload.Roll,\n    msg.payload.Obstcl,\n    msg.payload.MowTim,\n    msg.payload.RSSI,\n    msg.payload.Heap,\n    msg.payload.CPUTemp\n]\n\nmsg.payload = tmp\n\nmsg.topic =\"INSERT INTO AutoMower_telemetry ( `Time`, `State`, `ErrorNumber`, `BatteryVoltage`,`BatteryChargeCurrent`,`BatterySOC`,`BatteryCharging`,`DriveMotorTemperature`,`DriveMotorTemperatureErr`,`DriveMotorFan`,`RightMotorCurrent`,`RightMotorSpeed`,`LeftMotorCurrent`,`LeftMotorSpeed`,`CutMotorTemperature`,`CutMotorTemperatureErr`,`CutMotorFan`,`CutMotorCurrent`,`CutMotorSpeed`,`CutMotorAlarm`,\" +\n\" `FrontSonarDistance`,`RightSonarDistance`,`LeftSonarDistance`, `CompassHeading`,`GPSHeading`, `GPSSatellitesFix`, `GPSHdop`, `GPSSpeed`, `GPSAltitude`, `GPSLatitude`, `GPSLongitude`, `Magnitude`, `SmoothMagnitude`, `Inside`, `Pitch`, `Roll`, `TotalObstacles`, `TotalMowingTime`, `RSSI`, `Heap`, `CPUTemperature`)\" +\n\"VALUES (TIMESTAMP(NOW()),?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);\"\n\nnode.status({fill:\"green\",shape:\"ring\",text:d});\n\nreturn msg ;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1280,
        "wires": [
            [
                "167bd68ee04bb97d"
            ]
        ]
    },
    {
        "id": "167bd68ee04bb97d",
        "type": "mysql",
        "z": "60ab055898a3ccf8",
        "mydb": "169ed79e.a6e3e",
        "name": "",
        "x": 790,
        "y": 1280,
        "wires": [
            [
                "b64c4dc1a2325200"
            ]
        ]
    },
    {
        "id": "b64c4dc1a2325200",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "Write Telemetry data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1280,
        "wires": []
    },
    {
        "id": "f2e957c0305d729c",
        "type": "function",
        "z": "60ab055898a3ccf8",
        "name": "Receive counter",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get('TelemetryCount')||0;\ncount += 1;\n// store the value back\nflow.set('TelemetryCount',count);\nnode.status({fill:\"green\",shape:\"ring\",text:count});\n// make it part of the outgoing msg object\nmsg.count = count;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "a50f7c37f3e03030",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "Deleted Rows",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.affectedRows",
        "targetType": "msg",
        "statusVal": "payload.affectedRows",
        "statusType": "auto",
        "x": 725,
        "y": 1677,
        "wires": []
    },
    {
        "id": "8e45b054b63e3405",
        "type": "mysql",
        "z": "60ab055898a3ccf8",
        "mydb": "169ed79e.a6e3e",
        "name": "",
        "x": 565,
        "y": 1678,
        "wires": [
            [
                "a50f7c37f3e03030"
            ]
        ]
    },
    {
        "id": "81423afc63c27752",
        "type": "function",
        "z": "60ab055898a3ccf8",
        "name": "Purge Telemetry 100 days",
        "func": "var d = new Date().toJSON().slice(5,19).replace('T', ' ')\n\nmsg.topic=\"DELETE LOW_PRIORITY from AutoMower_telemetry WHERE Time < DATE_SUB(NOW(),INTERVAL '100 0' DAY_HOUR)\"\n\nnode.status({fill:\"green\",shape:\"ring\",text:d});\n\nreturn msg ;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 1678,
        "wires": [
            [
                "8e45b054b63e3405"
            ]
        ]
    },
    {
        "id": "e2a68433cb4f8f95",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "Startup TESTS",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST\"}",
        "payloadType": "json",
        "x": 990,
        "y": 100,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "e5ee571988f6dbe0",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "DBG_VERBOSE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"DEBUG\",\"Val1\":\"VERBOSE\"}",
        "payloadType": "json",
        "x": 980,
        "y": 140,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "b6c34fc97d724b80",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "DBG_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"DEBUG\",\"Val1\":\"DEBUG\"}",
        "payloadType": "json",
        "x": 990,
        "y": 180,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "785be9dcd165f213",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "DBG_INFO",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"DEBUG\",\"Val1\":\"INFO\"}",
        "payloadType": "json",
        "x": 1000,
        "y": 220,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "b99cba46bbb5bbf1",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "TEST_MOTOR",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_MOTOR\"}",
        "payloadType": "str",
        "x": 990,
        "y": 260,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "72acc547de989200",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "FORWARD 5s @ 100%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_FORWARD\",\"Val1\":\"100\",\"Val2\":\"5\"}",
        "payloadType": "json",
        "x": 1480,
        "y": 160,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "1c9b16bcc94f69fc",
        "type": "mqtt out",
        "z": "60ab055898a3ccf8",
        "name": "",
        "topic": "AutoMower/Command",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "571acea9.12d868",
        "x": 1740,
        "y": 240,
        "wires": []
    },
    {
        "id": "7b08daa222c78435",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "REVERSE 5s @ 75%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_REVERSE\",\"Val1\":\"75\",\"Val2\":\"5\"}",
        "payloadType": "json",
        "x": 1490,
        "y": 200,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "ddf8216033179c74",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "STOP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_STOP\"}",
        "payloadType": "str",
        "x": 1530,
        "y": 120,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "52d3de8bf44ab8b6",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "TURN R 90Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"90\"}",
        "payloadType": "json",
        "x": 1510,
        "y": 280,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "f4050ba5db09a054",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "TURN L 45Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"-45\"}",
        "payloadType": "json",
        "x": 1510,
        "y": 520,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "4825635ac11e486b",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "TURN R 45Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"45\"}",
        "payloadType": "json",
        "x": 1510,
        "y": 360,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "9b9652fdc888513a",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "TURN L 90Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"-90\"}",
        "payloadType": "json",
        "x": 1510,
        "y": 440,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "08b33146d05fa9cd",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "TURN R 180Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"180\"}",
        "payloadType": "json",
        "x": 1500,
        "y": 240,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "f4bbfadc396227c9",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "TURN L 180Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"-180\"}",
        "payloadType": "json",
        "x": 1500,
        "y": 400,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "62a80c1aabacba03",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "TEST_CUTMOTOR",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_CUTMOTOR\"}",
        "payloadType": "str",
        "x": 980,
        "y": 300,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "f6bf8e98c9052529",
        "type": "mqtt out",
        "z": "60ab055898a3ccf8",
        "name": "",
        "topic": "AutoMower/Command",
        "qos": "",
        "retain": "false",
        "broker": "571acea9.12d868",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "5269f458955b78fa",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "IDLE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"IDLE\"}",
        "payloadType": "json",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "99f6f30c05f981a8"
            ]
        ]
    },
    {
        "id": "35b22b13171f288e",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "DOCKED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"DOCKED\"}",
        "payloadType": "json",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "4e75c691236f1f75",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "MOWING - Random",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"MOWING\",\"Val2\":\"0\"}",
        "payloadType": "json",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "202b25cd8d411291"
            ]
        ]
    },
    {
        "id": "99f149b68a280aff",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "TO_BASE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"TO_BASE\"}",
        "payloadType": "json",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "cb7cbd119487683a"
            ]
        ]
    },
    {
        "id": "aeb2402b8bbf41e8",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "FROM_BASE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"FROM_BASE\"}",
        "payloadType": "json",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "daae3de4e4713442",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "ERROR",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"ERROR\"}",
        "payloadType": "json",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "d4a8916f822407e1",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "TEST loop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"TEST\"}",
        "payloadType": "json",
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "41ba9b57a5b97b8e",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "OnSpotTURN R 90Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"90\",\"Val2\":\"1\"}",
        "payloadType": "json",
        "x": 1480,
        "y": 320,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "2814fd3f1a6e6dbf",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "OnSpotTURN L 90Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"-90\",\"Val2\":\"1\"}",
        "payloadType": "json",
        "x": 1480,
        "y": 480,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "3dc0e9c4a1778244",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "OnSpotTURN L 360Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"-360\",\"Val2\":\"1\"}",
        "payloadType": "json",
        "x": 1480,
        "y": 560,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "434e46fb1a82cb1d",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "Long run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_FORWARD\",\"Val1\":\"100\",\"Val2\":\"30\"}",
        "payloadType": "json",
        "x": 1520,
        "y": 80,
        "wires": [
            [
                "1c9b16bcc94f69fc"
            ]
        ]
    },
    {
        "id": "be4627e5c5d6f260",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "START_MQTT_GRAPH_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"START_MQTT_GRAPH_DEBUG\"}",
        "payloadType": "str",
        "x": 940,
        "y": 500,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "f7bb72e8c7867d75",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "STOP_MQTT_GRAPH_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STOP_MQTT_GRAPH_DEBUG\"}",
        "payloadType": "str",
        "x": 940,
        "y": 540,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "fab9a3608a22322c",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "STOP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_STOP\"}",
        "payloadType": "str",
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "6416edea9a43c0eb",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "Offset +5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TUNE_OFFSET\",\"Val1\":\"5\"}",
        "payloadType": "str",
        "x": 1000,
        "y": 420,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "29084bc11ba21002",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "Offset -5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TUNE_OFFSET\",\"Val1\":\"-5\"}",
        "payloadType": "str",
        "x": 1000,
        "y": 460,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "d257c9764b4ee59c",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "CALIBRATE Perimeter",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"CALIBRATE\",\"Val1\":\"PERIMETER\"}",
        "payloadType": "str",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "8b0453459b107dfe",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "START_MQTT_GRAPH_RAW_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"START_MQTT_GRAPH_RAW_DEBUG\"}",
        "payloadType": "str",
        "x": 920,
        "y": 580,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "dfc738f33c1f6803",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "STOP_MQTT_GRAPH_RAW_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STOP_MQTT_GRAPH_RAW_DEBUG\"}",
        "payloadType": "str",
        "x": 920,
        "y": 620,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "440160f2b4fa2df5",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "ACKNOWLEDGE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"ACKNOWLEDGE\"}",
        "payloadType": "json",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "14b2731c60e65c3d",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "START_MQTT_PID_GRAPH_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"START_MQTT_PID_GRAPH_DEBUG\"}",
        "payloadType": "str",
        "x": 920,
        "y": 660,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "f41717726b1c09aa",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "STOP_MQTT_PID_GRAPH_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STOP_MQTT_PID_GRAPH_DEBUG\"}",
        "payloadType": "str",
        "x": 930,
        "y": 700,
        "wires": [
            [
                "94ee634460c65276"
            ]
        ]
    },
    {
        "id": "ae8b2b5e16645c35",
        "type": "comment",
        "z": "60ab055898a3ccf8",
        "name": "State Changes",
        "info": "",
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "eb86e41da72daae9",
        "type": "comment",
        "z": "60ab055898a3ccf8",
        "name": "Debug commands",
        "info": "",
        "x": 1200,
        "y": 60,
        "wires": []
    },
    {
        "id": "205cd5af95f41ab9",
        "type": "comment",
        "z": "60ab055898a3ccf8",
        "name": "Basic Mower Moves",
        "info": "",
        "x": 1750,
        "y": 60,
        "wires": []
    },
    {
        "id": "f8214f0901a3eace",
        "type": "mqtt out",
        "z": "60ab055898a3ccf8",
        "name": "",
        "topic": "AutoMower/Command",
        "qos": "",
        "retain": "false",
        "broker": "571acea9.12d868",
        "x": 760,
        "y": 960,
        "wires": []
    },
    {
        "id": "7fa8a9dadd887692",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "PerimTtrkngKp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimTtrkngKp\",\"Val2\":\".0015\"}",
        "payloadType": "json",
        "x": 180,
        "y": 780,
        "wires": [
            [
                "f8214f0901a3eace",
                "75badbc4d27dde37"
            ]
        ]
    },
    {
        "id": "d43cb85a1a3825b4",
        "type": "comment",
        "z": "60ab055898a3ccf8",
        "name": "Parameter values",
        "info": "",
        "x": 340,
        "y": 740,
        "wires": []
    },
    {
        "id": "1f0fb82fad7bc153",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "PerimTtrkngKi",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimTtrkngKi\",\"Val2\":\"0.125\"}",
        "payloadType": "json",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "f8214f0901a3eace",
                "d7fdc47a526c23d7"
            ]
        ]
    },
    {
        "id": "35dc28b5be739b1e",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "PerimTtrkngKd",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimTtrkngKd\",\"Val2\":\"0.01\"}",
        "payloadType": "json",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "f8214f0901a3eace",
                "78f483c588979802"
            ]
        ]
    },
    {
        "id": "d552b30f394d015f",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "PerimTtrkSetPt",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimTtrkSetPt\",\"Val2\":\"-70\"}",
        "payloadType": "json",
        "x": 180,
        "y": 960,
        "wires": [
            [
                "f8214f0901a3eace",
                "7955d2e37c9c0e7b"
            ]
        ]
    },
    {
        "id": "63aae1cadc0a5a61",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "Template",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"Template\",\"Val2\":\"1.1\"}",
        "payloadType": "json",
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "f8214f0901a3eace",
                "8cb781859e044999"
            ]
        ]
    },
    {
        "id": "f2be7cec8fd53e1e",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 780,
        "wires": []
    },
    {
        "id": "75badbc4d27dde37",
        "type": "json",
        "z": "60ab055898a3ccf8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 780,
        "wires": [
            [
                "f2be7cec8fd53e1e"
            ]
        ]
    },
    {
        "id": "7de89b6de17d1a72",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 840,
        "wires": []
    },
    {
        "id": "d7fdc47a526c23d7",
        "type": "json",
        "z": "60ab055898a3ccf8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 840,
        "wires": [
            [
                "7de89b6de17d1a72"
            ]
        ]
    },
    {
        "id": "ce6ccb1ed2b16bab",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 900,
        "wires": []
    },
    {
        "id": "78f483c588979802",
        "type": "json",
        "z": "60ab055898a3ccf8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 900,
        "wires": [
            [
                "ce6ccb1ed2b16bab"
            ]
        ]
    },
    {
        "id": "c5651d946aebd72b",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 960,
        "wires": []
    },
    {
        "id": "7955d2e37c9c0e7b",
        "type": "json",
        "z": "60ab055898a3ccf8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 960,
        "wires": [
            [
                "c5651d946aebd72b"
            ]
        ]
    },
    {
        "id": "f30a172f40afa9e8",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "PerimLostThresld",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimLostThresld\",\"Val2\":\"60\"}",
        "payloadType": "json",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "f8214f0901a3eace",
                "3441cf6367f1c961"
            ]
        ]
    },
    {
        "id": "6cfe901e6bc30155",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "PerimTtrkLowThresld",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimTtrkLowThresld\",\"Val2\":\"100\"}",
        "payloadType": "json",
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "2fda79af5bf1f6bf",
                "f8214f0901a3eace"
            ]
        ]
    },
    {
        "id": "3441cf6367f1c961",
        "type": "json",
        "z": "60ab055898a3ccf8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "5886a378cc8eb8a0"
            ]
        ]
    },
    {
        "id": "5886a378cc8eb8a0",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2fda79af5bf1f6bf",
        "type": "json",
        "z": "60ab055898a3ccf8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1080,
        "wires": [
            [
                "83704d82b1b04c82"
            ]
        ]
    },
    {
        "id": "83704d82b1b04c82",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 1080,
        "wires": []
    },
    {
        "id": "280103e8cda09e71",
        "type": "debug",
        "z": "60ab055898a3ccf8",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 1140,
        "wires": []
    },
    {
        "id": "8cb781859e044999",
        "type": "json",
        "z": "60ab055898a3ccf8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1140,
        "wires": [
            [
                "280103e8cda09e71"
            ]
        ]
    },
    {
        "id": "0815c6b5a8e8f641",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "RESTART",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"RESTART\"}",
        "payloadType": "json",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "43e20d68c65d9a0f",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "MOWING - Clockwise",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"MOWING\",\"Val2\":\"1\"}",
        "payloadType": "json",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "530b27549c94fbd5",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "MOWING - Counter Clockw",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"MOWING\",\"Val2\":\"2\"}",
        "payloadType": "json",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "cf513de1afd13a9b",
        "type": "link out",
        "z": "60ab055898a3ccf8",
        "name": "Send Data To API Out",
        "links": [
            "9cf3e330ece9a7c3"
        ],
        "x": 335,
        "y": 1380,
        "wires": []
    },
    {
        "id": "3d4540fe10d21731",
        "type": "link in",
        "z": "60ab055898a3ccf8",
        "name": "Emergency Stop Out",
        "links": [
            "2a640d820bb04765"
        ],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "99f6f30c05f981a8"
            ]
        ]
    },
    {
        "id": "99f6f30c05f981a8",
        "type": "function",
        "z": "60ab055898a3ccf8",
        "name": "",
        "func": "msg.payload = { \n    \"Command\": \"STATE_CHANGE\", \n    \"Val1\": \"IDLE\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "30689bac26b03b22",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "CALIBRATE Accel",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"CALIBRATE\",\"Val1\":\"ACCEL\"}",
        "payloadType": "str",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "415a88d4b5925ded",
        "type": "inject",
        "z": "60ab055898a3ccf8",
        "name": "CALIBRATE Gyro",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"CALIBRATE\",\"Val1\":\"GYRO\"}",
        "payloadType": "str",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "323e2990c411a66c",
        "type": "link in",
        "z": "60ab055898a3ccf8",
        "name": "Start Mow Out",
        "links": [
            "24d574630c021b07"
        ],
        "x": 135,
        "y": 200,
        "wires": [
            [
                "202b25cd8d411291"
            ]
        ]
    },
    {
        "id": "202b25cd8d411291",
        "type": "function",
        "z": "60ab055898a3ccf8",
        "name": "",
        "func": "msg.payload = { \n    \"Command\": \"STATE_CHANGE\",\n    \"Val1\": \"MOWING\", \n    \"Val2\": \"0\" \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "cb7cbd119487683a",
        "type": "function",
        "z": "60ab055898a3ccf8",
        "name": "",
        "func": "msg.payload = { \n    \"Command\": \"STATE_CHANGE\",\n    \"Val1\": \"TO_BASE\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "f6bf8e98c9052529"
            ]
        ]
    },
    {
        "id": "c6d017bfb1e1e411",
        "type": "link in",
        "z": "60ab055898a3ccf8",
        "name": "Go Home Out",
        "links": [
            "f6ff86c94b908657"
        ],
        "x": 135,
        "y": 320,
        "wires": [
            [
                "cb7cbd119487683a"
            ]
        ]
    },
    {
        "id": "571acea9.12d868",
        "type": "mqtt-broker",
        "name": "Patrick server",
        "broker": "192.168.1.3",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "169ed79e.a6e3e",
        "type": "MySQLdatabase",
        "name": "My_data",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "My_data",
        "tz": "UTC",
        "charset": ""
    }
]