OTHER/MowerNodeRed.json
[
    {
        "id": "d6d24cd5e6d1be6f",
        "type": "tab",
        "label": "AutoMower",
        "disabled": false,
        "info": ""
    },
    {
        "id": "993dba22d5ea9d18",
        "type": "mqtt in",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "topic": "AutoMower/Log",
        "qos": "2",
        "datatype": "auto",
        "broker": "571acea9.12d868",
        "x": 140,
        "y": 1500,
        "wires": [
            [
                "0343da140cf67685",
                "fb460cd854cf47e2"
            ]
        ]
    },
    {
        "id": "0343da140cf67685",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "Mower Log Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1460,
        "wires": []
    },
    {
        "id": "fb460cd854cf47e2",
        "type": "json",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 1500,
        "wires": [
            [
                "3f6a73815b09d806"
            ]
        ]
    },
    {
        "id": "3f6a73815b09d806",
        "type": "function",
        "z": "d6d24cd5e6d1be6f",
        "name": "format data",
        "func": "var d = new Date().toJSON().slice(5,19).replace('T', ' ')\n\nvar tmp =[\n    msg.payload.Sender.slice(0,16),\n    msg.payload.Message,\n    msg.payload.Tags,\n    msg.payload.Level\n]\n\nmsg.payload = tmp\n\nmsg.topic=\"INSERT INTO AutoMower_log (`Time`,`Sender`,`Messages`,`Tags`,`Level`) \" + \n\"VALUES (TIMESTAMP(NOW()),?,?,?,?);\"\n\nnode.status({fill:\"green\",shape:\"ring\",text:d});\n\nreturn msg ;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1500,
        "wires": [
            [
                "fddb4a5f344e8b79"
            ]
        ]
    },
    {
        "id": "fddb4a5f344e8b79",
        "type": "mysql",
        "z": "d6d24cd5e6d1be6f",
        "mydb": "169ed79e.a6e3e",
        "name": "",
        "x": 640,
        "y": 1500,
        "wires": [
            [
                "0aaec8f87285b965"
            ]
        ]
    },
    {
        "id": "0aaec8f87285b965",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "Write AutoMower Log",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1500,
        "wires": []
    },
    {
        "id": "5051dddf6f2272d7",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "OTA",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"OTA\"}",
        "payloadType": "json",
        "x": 770,
        "y": 120,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "813418c72a0c9d90",
        "type": "mqtt out",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "topic": "AutoMower/Command",
        "qos": "",
        "retain": "false",
        "broker": "571acea9.12d868",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "29d3a4a07649a703",
        "type": "function",
        "z": "d6d24cd5e6d1be6f",
        "name": "Purge Log100 days",
        "func": "var d = new Date().toJSON().slice(5,19).replace('T', ' ')\n\nmsg.topic=\"DELETE LOW_PRIORITY from AutoMower_log WHERE Time < DATE_SUB(NOW(),INTERVAL '100 0' DAY_HOUR)\"\n\nnode.status({fill:\"green\",shape:\"ring\",text:d});\n\nreturn msg ;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 1600,
        "wires": [
            [
                "f31a2bdb3e422ddc"
            ]
        ]
    },
    {
        "id": "f31a2bdb3e422ddc",
        "type": "mysql",
        "z": "d6d24cd5e6d1be6f",
        "mydb": "169ed79e.a6e3e",
        "name": "",
        "x": 520,
        "y": 1600,
        "wires": [
            [
                "bd8bf0355580c708"
            ]
        ]
    },
    {
        "id": "bd8bf0355580c708",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "Deleted Rows",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.affectedRows",
        "targetType": "msg",
        "statusVal": "payload.affectedRows",
        "statusType": "auto",
        "x": 680,
        "y": 1599,
        "wires": []
    },
    {
        "id": "833bd59997170dee",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "15 minutes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1600,
        "wires": [
            [
                "29d3a4a07649a703",
                "9b8c96d96b86f370"
            ]
        ]
    },
    {
        "id": "f0b76fc148a28764",
        "type": "mqtt in",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "topic": "AutoMower/Telemetry",
        "qos": "2",
        "datatype": "auto",
        "broker": "571acea9.12d868",
        "x": 140,
        "y": 1280,
        "wires": [
            [
                "067962b5190095cc",
                "ca0ae65395bd9b76",
                "667b6305ea78df89",
                "599d90f9d1419bb2"
            ]
        ]
    },
    {
        "id": "067962b5190095cc",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "Mower Telemetry data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ca0ae65395bd9b76",
        "type": "json",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 1280,
        "wires": [
            [
                "9bdead5b83139be4"
            ]
        ]
    },
    {
        "id": "9bdead5b83139be4",
        "type": "function",
        "z": "d6d24cd5e6d1be6f",
        "name": "format data",
        "func": "var d = new Date().toJSON().slice(5,19).replace('T', ' ')\n\nif (msg.payload.DrvMotTemp < -50.0) { msg.payload.DrvMotTemp = null;}\nif (msg.payload.CMotTemp < -50.0) { msg.payload.CMotTemp = null;}\nif (msg.payload.GPSHead < -999.0) { msg.payload.GPSHead = null;}\nif (msg.payload.GPSHdop < -999.0) { msg.payload.GPSHdop = null;}\nif (msg.payload.GPSSpd < -999.0) { msg.payload.GPSSpd = null;}\nif (msg.payload.GPSAlt < -999.0) { msg.payload.GPSAlt = null;}\nif (msg.payload.GPSLat < -999.0) { msg.payload.GPSLat = 45.369;}\nif (msg.payload.GPSLon < -999.0) { msg.payload.GPSLon = 5.611;}\nif (msg.payload.Pitch == \"nan\") { msg.payload.Pitch = null;}\nif (msg.payload.Roll == \"nan\") { msg.payload.Roll = null;}\n\nvar tmp =[\n    msg.payload.State,\n    msg.payload.Error,\n    msg.payload.BatVolt,\n    msg.payload.ChargeCur,\n    msg.payload.BatSOC,\n    msg.payload.BatCharging,\n    msg.payload.DrvMotTemp,\n    msg.payload.DrvMotTempEr,\n    msg.payload.DrvMotFan,\n    msg.payload.RMotCur,\n    msg.payload.RMotSpd,\n    msg.payload.LMotCur,\n    msg.payload.LMotSpd,\n    msg.payload.CMotTemp,\n    msg.payload.CMotTempEr,\n    msg.payload.CMotFan,\n    msg.payload.CMotCur,\n    msg.payload.CMotSpd,\n    msg.payload.CMotAlm,\n    msg.payload.FSnrDist,\n    msg.payload.RSnrDist,\n    msg.payload.LSnrDist,\n    msg.payload.CompHead,\n    msg.payload.GPSHead/100,\n    msg.payload.GPSSat,\n    msg.payload.GPSHdop,\n    msg.payload.GPSSpd,\n    msg.payload.GPSAlt,\n    msg.payload.GPSLat,\n    msg.payload.GPSLon,\n    msg.payload.Mag,\n    msg.payload.SMag,\n    msg.payload.InOut,\n    msg.payload.Pitch,\n    msg.payload.Roll,\n    msg.payload.Obstcl,\n    msg.payload.MowTim,\n    msg.payload.RSSI,\n    msg.payload.Heap,\n    msg.payload.CPUTemp\n]\n\nmsg.payload = tmp\n\nmsg.topic =\"INSERT INTO AutoMower_telemetry ( `Time`, `State`, `ErrorNumber`, `BatteryVoltage`,`BatteryChargeCurrent`,`BatterySOC`,`BatteryCharging`,`DriveMotorTemperature`,`DriveMotorTemperatureErr`,`DriveMotorFan`,`RightMotorCurrent`,`RightMotorSpeed`,`LeftMotorCurrent`,`LeftMotorSpeed`,`CutMotorTemperature`,`CutMotorTemperatureErr`,`CutMotorFan`,`CutMotorCurrent`,`CutMotorSpeed`,`CutMotorAlarm`,\" +\n\" `FrontSonarDistance`,`RightSonarDistance`,`LeftSonarDistance`, `CompassHeading`,`GPSHeading`, `GPSSatellitesFix`, `GPSHdop`, `GPSSpeed`, `GPSAltitude`, `GPSLatitude`, `GPSLongitude`, `Magnitude`, `SmoothMagnitude`, `Inside`, `Pitch`, `Roll`, `TotalObstacles`, `TotalMowingTime`, `RSSI`, `Heap`, `CPUTemperature`)\" +\n\"VALUES (TIMESTAMP(NOW()),?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);\"\n\nnode.status({fill:\"green\",shape:\"ring\",text:d});\n\nreturn msg ;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1280,
        "wires": [
            [
                "27b510c84ad25693"
            ]
        ]
    },
    {
        "id": "27b510c84ad25693",
        "type": "mysql",
        "z": "d6d24cd5e6d1be6f",
        "mydb": "169ed79e.a6e3e",
        "name": "",
        "x": 790,
        "y": 1280,
        "wires": [
            [
                "62e7c14f76999dbb"
            ]
        ]
    },
    {
        "id": "62e7c14f76999dbb",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "Write Telemetry data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1280,
        "wires": []
    },
    {
        "id": "667b6305ea78df89",
        "type": "function",
        "z": "d6d24cd5e6d1be6f",
        "name": "Receive counter",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get('TelemetryCount')||0;\ncount += 1;\n// store the value back\nflow.set('TelemetryCount',count);\nnode.status({fill:\"green\",shape:\"ring\",text:count});\n// make it part of the outgoing msg object\nmsg.count = count;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "451568ab1a8017d9",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "Deleted Rows",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.affectedRows",
        "targetType": "msg",
        "statusVal": "payload.affectedRows",
        "statusType": "auto",
        "x": 725,
        "y": 1677,
        "wires": []
    },
    {
        "id": "2ce2c71bb9f0ae4c",
        "type": "mysql",
        "z": "d6d24cd5e6d1be6f",
        "mydb": "169ed79e.a6e3e",
        "name": "",
        "x": 565,
        "y": 1678,
        "wires": [
            [
                "451568ab1a8017d9"
            ]
        ]
    },
    {
        "id": "9b8c96d96b86f370",
        "type": "function",
        "z": "d6d24cd5e6d1be6f",
        "name": "Purge Telemetry 100 days",
        "func": "var d = new Date().toJSON().slice(5,19).replace('T', ' ')\n\nmsg.topic=\"DELETE LOW_PRIORITY from AutoMower_telemetry WHERE Time < DATE_SUB(NOW(),INTERVAL '100 0' DAY_HOUR)\"\n\nnode.status({fill:\"green\",shape:\"ring\",text:d});\n\nreturn msg ;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 1678,
        "wires": [
            [
                "2ce2c71bb9f0ae4c"
            ]
        ]
    },
    {
        "id": "1580e768ccb6e8ca",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "Startup TESTS",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST\"}",
        "payloadType": "json",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "c76765dd5003b7dd",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "DBG_VERBOSE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"DEBUG\",\"Val1\":\"VERBOSE\"}",
        "payloadType": "json",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "463d4710240ef05a",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "DBG_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"DEBUG\",\"Val1\":\"DEBUG\"}",
        "payloadType": "json",
        "x": 750,
        "y": 240,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "f463f041595d99a6",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "DBG_INFO",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"DEBUG\",\"Val1\":\"INFO\"}",
        "payloadType": "json",
        "x": 760,
        "y": 280,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "57644a3f7316781e",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "TEST_MOTOR",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_MOTOR\"}",
        "payloadType": "str",
        "x": 750,
        "y": 320,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "d14c08836f23148f",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "FORWARD 5s @ 100%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_FORWARD\",\"Val1\":\"100\",\"Val2\":\"5\"}",
        "payloadType": "json",
        "x": 1240,
        "y": 160,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "276205ba93f1c411",
        "type": "mqtt out",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "topic": "AutoMower/Command",
        "qos": "",
        "retain": "false",
        "broker": "571acea9.12d868",
        "x": 1500,
        "y": 240,
        "wires": []
    },
    {
        "id": "cbf5e4101fb8237f",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "REVERSE 5s @ 75%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_REVERSE\",\"Val1\":\"75\",\"Val2\":\"5\"}",
        "payloadType": "json",
        "x": 1250,
        "y": 200,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "8da7c896936b1f29",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "STOP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_STOP\"}",
        "payloadType": "str",
        "x": 1290,
        "y": 120,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "80608f8987185c8c",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "TURN R 90Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"90\"}",
        "payloadType": "json",
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "625a68bead65ce1c",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "TURN L 45Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"-45\"}",
        "payloadType": "json",
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "4e53d22eeb29cdd9",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "TURN R 45Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"45\"}",
        "payloadType": "json",
        "x": 1270,
        "y": 360,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "343a6927442de007",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "TURN L 90Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"-90\"}",
        "payloadType": "json",
        "x": 1270,
        "y": 440,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "7a5f120c32d78313",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "TURN R 180Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"180\"}",
        "payloadType": "json",
        "x": 1260,
        "y": 240,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "f0cd311be1a47807",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "TURN L 180Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"-180\"}",
        "payloadType": "json",
        "x": 1260,
        "y": 400,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "f82421e2da568fcd",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "TEST_CUTMOTOR",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_CUTMOTOR\"}",
        "payloadType": "str",
        "x": 740,
        "y": 360,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "dec10993840a7d26",
        "type": "mqtt out",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "topic": "AutoMower/Command",
        "qos": "",
        "retain": "false",
        "broker": "571acea9.12d868",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "f87281d6dee1f2eb",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "IDLE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"IDLE\"}",
        "payloadType": "json",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "4e27f06c67c8495c"
            ]
        ]
    },
    {
        "id": "50dbd6a264aa7a78",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "DOCKED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"DOCKED\"}",
        "payloadType": "json",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "17fb7add63ea9356",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "MOWING - Random",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"MOWING\",\"Val2\":\"0\"}",
        "payloadType": "json",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "8287995aea480820"
            ]
        ]
    },
    {
        "id": "baab7b08114fe65d",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "TO_BASE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"TO_BASE\"}",
        "payloadType": "json",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "60dc7a097656e15e",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "FROM_BASE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"FROM_BASE\"}",
        "payloadType": "json",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "b1040e4057176bb9",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "ERROR",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"ERROR\"}",
        "payloadType": "json",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "65df28522cf68a3a",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "TEST loop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"TEST\"}",
        "payloadType": "json",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "958497eff3ca89c0",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "OnSpotTURN R 90Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"90\",\"Val2\":\"1\"}",
        "payloadType": "json",
        "x": 1240,
        "y": 320,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "7d2ed9c2e0e49cef",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "OnSpotTURN L 90Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"-90\",\"Val2\":\"1\"}",
        "payloadType": "json",
        "x": 1240,
        "y": 480,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "9e2b38e08597d602",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "OnSpotTURN L 360Deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_TURN\",\"Val1\":\"-360\",\"Val2\":\"1\"}",
        "payloadType": "json",
        "x": 1240,
        "y": 560,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "5c6cc457d702f10a",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "Long run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_FORWARD\",\"Val1\":\"100\",\"Val2\":\"30\"}",
        "payloadType": "json",
        "x": 1280,
        "y": 80,
        "wires": [
            [
                "276205ba93f1c411"
            ]
        ]
    },
    {
        "id": "7a38ae7b965101b9",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "START_MQTT_GRAPH_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"START_MQTT_GRAPH_DEBUG\"}",
        "payloadType": "str",
        "x": 700,
        "y": 420,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "041da1250705ce25",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "STOP_MQTT_GRAPH_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STOP_MQTT_GRAPH_DEBUG\"}",
        "payloadType": "str",
        "x": 700,
        "y": 460,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "d81b7784475c7647",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "STOP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TEST_STOP\"}",
        "payloadType": "str",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "31ced3d7df3d0591",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "Offset +5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TUNE_OFFSET\",\"Val1\":\"5\"}",
        "payloadType": "str",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "333b5b425ec8cd92",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "Offset -5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"TUNE_OFFSET\",\"Val1\":\"-5\"}",
        "payloadType": "str",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "416729aa394d9904",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "CALIBRATE Perimeter",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"CALIBRATE\",\"Val1\":\"PERIMETER\"}",
        "payloadType": "str",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "0f1b4b84886b059f",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "START_MQTT_GRAPH_RAW_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"START_MQTT_GRAPH_RAW_DEBUG\"}",
        "payloadType": "str",
        "x": 680,
        "y": 500,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "e4835abea977739e",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "STOP_MQTT_GRAPH_RAW_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STOP_MQTT_GRAPH_RAW_DEBUG\"}",
        "payloadType": "str",
        "x": 680,
        "y": 540,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "2cde39b3ddf8a6e4",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "ACKNOWLEDGE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"ACKNOWLEDGE\"}",
        "payloadType": "json",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "89e33443a87ef2e1",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "START_MQTT_PID_GRAPH_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"START_MQTT_PID_GRAPH_DEBUG\"}",
        "payloadType": "str",
        "x": 680,
        "y": 580,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "7c55854cd629d5ca",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "STOP_MQTT_PID_GRAPH_DEBUG",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STOP_MQTT_PID_GRAPH_DEBUG\"}",
        "payloadType": "str",
        "x": 690,
        "y": 620,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "a7adcc0bd8faa401",
        "type": "comment",
        "z": "d6d24cd5e6d1be6f",
        "name": "State Changes",
        "info": "",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "b17ad7a0edd74df0",
        "type": "comment",
        "z": "d6d24cd5e6d1be6f",
        "name": "Debug commands",
        "info": "",
        "x": 960,
        "y": 60,
        "wires": []
    },
    {
        "id": "f7a6d19cab70d37f",
        "type": "comment",
        "z": "d6d24cd5e6d1be6f",
        "name": "Basic Mower Moves",
        "info": "",
        "x": 1510,
        "y": 60,
        "wires": []
    },
    {
        "id": "d6b0bcbede47de18",
        "type": "mqtt out",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "topic": "AutoMower/Command",
        "qos": "",
        "retain": "false",
        "broker": "571acea9.12d868",
        "x": 760,
        "y": 960,
        "wires": []
    },
    {
        "id": "650fc72d405601f1",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "PerimTtrkngKp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimTtrkngKp\",\"Val2\":\".10\"}",
        "payloadType": "json",
        "x": 180,
        "y": 780,
        "wires": [
            [
                "d6b0bcbede47de18",
                "7f95485a32c1426c"
            ]
        ]
    },
    {
        "id": "1dab0b23f530ac98",
        "type": "comment",
        "z": "d6d24cd5e6d1be6f",
        "name": "Parameter values",
        "info": "",
        "x": 340,
        "y": 740,
        "wires": []
    },
    {
        "id": "6b535c5aeb7789b1",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "PerimTtrkngKi",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimTtrkngKi\",\"Val2\":\"0.011\"}",
        "payloadType": "json",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "d6b0bcbede47de18",
                "e5660f4e176f8513"
            ]
        ]
    },
    {
        "id": "478085ab2e877deb",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "PerimTtrkngKd",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimTtrkngKd\",\"Val2\":\"0.04\"}",
        "payloadType": "json",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "d6b0bcbede47de18",
                "284519f936086e13"
            ]
        ]
    },
    {
        "id": "5b301847d0a55ff9",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "PerimTtrkSetPt",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimTtrkSetPt\",\"Val2\":\"-10\"}",
        "payloadType": "json",
        "x": 180,
        "y": 960,
        "wires": [
            [
                "d6b0bcbede47de18",
                "18465040b4f3f48c"
            ]
        ]
    },
    {
        "id": "9340ac2fcc087cae",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "Template",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"Template\",\"Val2\":\"1.1\"}",
        "payloadType": "json",
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "d6b0bcbede47de18",
                "1ab6edfc5f2d578e"
            ]
        ]
    },
    {
        "id": "92b70e43014961a7",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 780,
        "wires": []
    },
    {
        "id": "7f95485a32c1426c",
        "type": "json",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 780,
        "wires": [
            [
                "92b70e43014961a7"
            ]
        ]
    },
    {
        "id": "c5746f599a542a1e",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 840,
        "wires": []
    },
    {
        "id": "e5660f4e176f8513",
        "type": "json",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 840,
        "wires": [
            [
                "c5746f599a542a1e"
            ]
        ]
    },
    {
        "id": "dc125478f2447206",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 900,
        "wires": []
    },
    {
        "id": "284519f936086e13",
        "type": "json",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 900,
        "wires": [
            [
                "dc125478f2447206"
            ]
        ]
    },
    {
        "id": "fb77cf9349000a44",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 960,
        "wires": []
    },
    {
        "id": "18465040b4f3f48c",
        "type": "json",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 960,
        "wires": [
            [
                "fb77cf9349000a44"
            ]
        ]
    },
    {
        "id": "e691dfed1d98ac5c",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "PerimLostThresld",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimLostThresld\",\"Val2\":\"60\"}",
        "payloadType": "json",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "d6b0bcbede47de18",
                "21cc49882f0b83e7"
            ]
        ]
    },
    {
        "id": "77b29dbee3569976",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "PerimTtrkLowThresld",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"PARAMETER\",\"Val1\":\"PerimTtrkLowThresld\",\"Val2\":\"100\"}",
        "payloadType": "json",
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "0a9cb26da51a47ad",
                "d6b0bcbede47de18"
            ]
        ]
    },
    {
        "id": "21cc49882f0b83e7",
        "type": "json",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "dafbe8062efcfb45"
            ]
        ]
    },
    {
        "id": "dafbe8062efcfb45",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0a9cb26da51a47ad",
        "type": "json",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1080,
        "wires": [
            [
                "ff0172629a6d0ff0"
            ]
        ]
    },
    {
        "id": "ff0172629a6d0ff0",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5248e1858828d30e",
        "type": "debug",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.Val2",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 1140,
        "wires": []
    },
    {
        "id": "1ab6edfc5f2d578e",
        "type": "json",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1140,
        "wires": [
            [
                "5248e1858828d30e"
            ]
        ]
    },
    {
        "id": "3be79f70ea8ca52f",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "RESTART",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"RESTART\"}",
        "payloadType": "json",
        "x": 760,
        "y": 80,
        "wires": [
            [
                "813418c72a0c9d90"
            ]
        ]
    },
    {
        "id": "68b48fd7cda3c524",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "MOWING - Clockwise",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"MOWING\",\"Val2\":\"1\"}",
        "payloadType": "json",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "2130f3880fadb785",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "MOWING - Counter Clockw",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"STATE_CHANGE\",\"Val1\":\"MOWING\",\"Val2\":\"2\"}",
        "payloadType": "json",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "599d90f9d1419bb2",
        "type": "link out",
        "z": "d6d24cd5e6d1be6f",
        "name": "Send Data To API Out",
        "links": [
            "9cf3e330ece9a7c3"
        ],
        "x": 335,
        "y": 1380,
        "wires": []
    },
    {
        "id": "f7ac5760ed21a3b4",
        "type": "link in",
        "z": "d6d24cd5e6d1be6f",
        "name": "Emergency Stop Out",
        "links": [
            "2a640d820bb04765"
        ],
        "x": 355,
        "y": 100,
        "wires": [
            [
                "4e27f06c67c8495c"
            ]
        ]
    },
    {
        "id": "4e27f06c67c8495c",
        "type": "function",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "func": "msg.payload = { \n    \"Command\": \"STATE_CHANGE\", \n    \"Val1\": \"IDLE\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "aa9d7aba17e1348d",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "CALIBRATE Accel",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"CALIBRATE\",\"Val1\":\"ACCEL\"}",
        "payloadType": "str",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "1fb21399a1c1b7a0",
        "type": "inject",
        "z": "d6d24cd5e6d1be6f",
        "name": "CALIBRATE Gyro",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Command\":\"CALIBRATE\",\"Val1\":\"GYRO\"}",
        "payloadType": "str",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "9d9b11ef896892a6",
        "type": "link in",
        "z": "d6d24cd5e6d1be6f",
        "name": "Start Mow Out",
        "links": [
            "24d574630c021b07"
        ],
        "x": 355,
        "y": 140,
        "wires": [
            [
                "8287995aea480820"
            ]
        ]
    },
    {
        "id": "8287995aea480820",
        "type": "function",
        "z": "d6d24cd5e6d1be6f",
        "name": "",
        "func": "msg.payload = { \n    \"Command\": \"STATE_CHANGE\",\n    \"Val1\": \"MOWING\", \n    \"Val2\": \"0\" \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "dec10993840a7d26"
            ]
        ]
    },
    {
        "id": "571acea9.12d868",
        "type": "mqtt-broker",
        "name": "Patrick server",
        "broker": "192.168.1.3",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "169ed79e.a6e3e",
        "type": "MySQLdatabase",
        "name": "My_data",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "My_data",
        "tz": "UTC"
    }
]