OTHER/WebappNodeRed.json
[
    {
        "id": "0cefd40a70793065",
        "type": "tab",
        "label": "AutoMower App Api",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a677d0c7ebb215f9",
        "type": "http in",
        "z": "0cefd40a70793065",
        "name": "",
        "url": "/AM/config",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "545e9a581c9a36b4"
            ]
        ]
    },
    {
        "id": "8a3e2d5f6a0557e2",
        "type": "http in",
        "z": "0cefd40a70793065",
        "name": "",
        "url": "/AM/config",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "fb02e6a98a229705"
            ]
        ]
    },
    {
        "id": "d03f9b494c3ea08c",
        "type": "http response",
        "z": "0cefd40a70793065",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "dca78646ae0413f4",
        "type": "file",
        "z": "0cefd40a70793065",
        "name": "",
        "filename": "AutoMower/WebAppConfig.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "59bb64a9e14e80d9"
            ]
        ]
    },
    {
        "id": "fb02e6a98a229705",
        "type": "json",
        "z": "0cefd40a70793065",
        "name": "",
        "property": "req.body",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "dca78646ae0413f4"
            ]
        ]
    },
    {
        "id": "59bb64a9e14e80d9",
        "type": "http response",
        "z": "0cefd40a70793065",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "545e9a581c9a36b4",
        "type": "file in",
        "z": "0cefd40a70793065",
        "name": "",
        "filename": "AutoMower/WebAppConfig.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "472e2d741b00c3da"
            ]
        ]
    },
    {
        "id": "2d41ce2747223900",
        "type": "http in",
        "z": "0cefd40a70793065",
        "name": "",
        "url": "/AM/schedule",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "3ad9f72f462a182e"
            ]
        ]
    },
    {
        "id": "a720e0f51c0317fe",
        "type": "http in",
        "z": "0cefd40a70793065",
        "name": "",
        "url": "/AM/schedule",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "8c1904f32155717c"
            ]
        ]
    },
    {
        "id": "1ca19896f898c336",
        "type": "file in",
        "z": "0cefd40a70793065",
        "name": "",
        "filename": "AutoMower/WebAppSchedule.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "20b4e45d6b395131"
            ]
        ]
    },
    {
        "id": "3ad9f72f462a182e",
        "type": "json",
        "z": "0cefd40a70793065",
        "name": "",
        "property": "req.body",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "1ca19896f898c336"
            ]
        ]
    },
    {
        "id": "8c1904f32155717c",
        "type": "file in",
        "z": "0cefd40a70793065",
        "name": "",
        "filename": "AutoMower/WebAppSchedule.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "504982c96091eed7"
            ]
        ]
    },
    {
        "id": "b507dfcc73843faa",
        "type": "http response",
        "z": "0cefd40a70793065",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "20b4e45d6b395131",
        "type": "http response",
        "z": "0cefd40a70793065",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "ce89d2eb37f35801",
        "type": "inject",
        "z": "0cefd40a70793065",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "5511cddecfdaf440"
            ]
        ]
    },
    {
        "id": "5511cddecfdaf440",
        "type": "file in",
        "z": "0cefd40a70793065",
        "name": "",
        "filename": "AutoMower/WebAppSchedule.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 340,
        "wires": [
            [
                "b48cb84da0c5835c"
            ]
        ]
    },
    {
        "id": "b48cb84da0c5835c",
        "type": "json",
        "z": "0cefd40a70793065",
        "name": "",
        "property": "req.body",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "26d1bfb6a128d168"
            ]
        ]
    },
    {
        "id": "26d1bfb6a128d168",
        "type": "debug",
        "z": "0cefd40a70793065",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "472e2d741b00c3da",
        "type": "json",
        "z": "0cefd40a70793065",
        "name": "",
        "property": "req.body",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 60,
        "wires": [
            [
                "d03f9b494c3ea08c"
            ]
        ]
    },
    {
        "id": "504982c96091eed7",
        "type": "json",
        "z": "0cefd40a70793065",
        "name": "",
        "property": "req.body",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "b507dfcc73843faa"
            ]
        ]
    }
]