OTHER/WebappNodeRed.json
[
    {
        "id": "0cefd40a70793065",
        "type": "tab",
        "label": "AutoMower App Api",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a677d0c7ebb215f9",
        "type": "http in",
        "z": "0cefd40a70793065",
        "name": "",
        "url": "/AM/config",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "545e9a581c9a36b4"
            ]
        ]
    },
    {
        "id": "8a3e2d5f6a0557e2",
        "type": "http in",
        "z": "0cefd40a70793065",
        "name": "",
        "url": "/AM/config",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "fb02e6a98a229705"
            ]
        ]
    },
    {
        "id": "d03f9b494c3ea08c",
        "type": "http response",
        "z": "0cefd40a70793065",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "dca78646ae0413f4",
        "type": "file",
        "z": "0cefd40a70793065",
        "name": "",
        "filename": "AutoMower/WebAppConfig.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "59bb64a9e14e80d9"
            ]
        ]
    },
    {
        "id": "fb02e6a98a229705",
        "type": "json",
        "z": "0cefd40a70793065",
        "name": "",
        "property": "req.body",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "dca78646ae0413f4"
            ]
        ]
    },
    {
        "id": "59bb64a9e14e80d9",
        "type": "http response",
        "z": "0cefd40a70793065",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "545e9a581c9a36b4",
        "type": "file in",
        "z": "0cefd40a70793065",
        "name": "",
        "filename": "AutoMower/WebAppConfig.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "472e2d741b00c3da"
            ]
        ]
    },
    {
        "id": "2d41ce2747223900",
        "type": "http in",
        "z": "0cefd40a70793065",
        "name": "",
        "url": "/AM/schedule",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "3ad9f72f462a182e"
            ]
        ]
    },
    {
        "id": "a720e0f51c0317fe",
        "type": "http in",
        "z": "0cefd40a70793065",
        "name": "",
        "url": "/AM/schedule",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "8c1904f32155717c"
            ]
        ]
    },
    {
        "id": "3ad9f72f462a182e",
        "type": "json",
        "z": "0cefd40a70793065",
        "name": "",
        "property": "req.body",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "efc175acbdd715b2"
            ]
        ]
    },
    {
        "id": "8c1904f32155717c",
        "type": "file in",
        "z": "0cefd40a70793065",
        "name": "",
        "filename": "AutoMower/WebAppSchedule.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "504982c96091eed7"
            ]
        ]
    },
    {
        "id": "b507dfcc73843faa",
        "type": "http response",
        "z": "0cefd40a70793065",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "20b4e45d6b395131",
        "type": "http response",
        "z": "0cefd40a70793065",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "ce89d2eb37f35801",
        "type": "inject",
        "z": "0cefd40a70793065",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "5511cddecfdaf440"
            ]
        ]
    },
    {
        "id": "5511cddecfdaf440",
        "type": "file in",
        "z": "0cefd40a70793065",
        "name": "",
        "filename": "AutoMower/WebAppSchedule.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "b48cb84da0c5835c"
            ]
        ]
    },
    {
        "id": "b48cb84da0c5835c",
        "type": "json",
        "z": "0cefd40a70793065",
        "name": "",
        "property": "req.body",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 440,
        "wires": [
            [
                "26d1bfb6a128d168"
            ]
        ]
    },
    {
        "id": "26d1bfb6a128d168",
        "type": "debug",
        "z": "0cefd40a70793065",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "472e2d741b00c3da",
        "type": "json",
        "z": "0cefd40a70793065",
        "name": "",
        "property": "req.body",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 60,
        "wires": [
            [
                "d03f9b494c3ea08c"
            ]
        ]
    },
    {
        "id": "504982c96091eed7",
        "type": "json",
        "z": "0cefd40a70793065",
        "name": "",
        "property": "req.body",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "b507dfcc73843faa"
            ]
        ]
    },
    {
        "id": "9cf3e330ece9a7c3",
        "type": "link in",
        "z": "0cefd40a70793065",
        "name": "Send Data To API In",
        "links": [
            "599d90f9d1419bb2"
        ],
        "x": 215,
        "y": 560,
        "wires": [
            [
                "26d1bfb6a128d168",
                "0c2840f3685ce7cc"
            ]
        ]
    },
    {
        "id": "56627974eeaeb387",
        "type": "inject",
        "z": "0cefd40a70793065",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "3ae2cee1e8efdf23"
            ]
        ]
    },
    {
        "id": "3ae2cee1e8efdf23",
        "type": "function",
        "z": "0cefd40a70793065",
        "name": "",
        "func": "function getRandomArbitrary(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\nmsg.payload = {\n    \"State\": Math.floor(getRandomArbitrary(1, 7)),\n    \"Error\": \"0\",\n    \"BatVolt\": getRandomArbitrary(9,13),\n    \"ChargeCur\": \"0.00\",\n    \"BatSOC\": getRandomArbitrary(0, 100),\n    \"BatCharging\": \"0\",\n    \"DrvMotTemp\": getRandomArbitrary(12, 100),\n    \"DrvMotTempEr\": \"0\",\n    \"RMotCur\": \"18.00\",\n    \"RMotSpd\": \"0\",\n    \"LMotCur\": \"18.02\",\n    \"LMotSpd\": \"0\",\n    \"DrvMotFan\": \"0\",\n    \"CMotTemp\": getRandomArbitrary(12, 100),\n    \"CMotTempEr\": \"4\",\n    \"CMotCur\": \"0.21\",\n    \"CMotSpd\": \"0.00\",\n    \"CMotAlm\": \"0\",\n    \"CMotFan\": \"0\",\n    \"FSnrDist\": \"5\",\n    \"RSnrDist\": \"51\",\n    \"LSnrDist\": \"37\",\n    \"CompHead\": \"0.00\",\n    \"GPSHead\": \"0.0\",\n    \"GPSSat\": \"0\",\n    \"g_GPSHdop\": \"-999.99\",\n    \"GPSSpd\": \"-999.99\",\n    \"GPSAlt\": \"-999.99\",\n    \"GPSLat\": \"-999.99\",\n    \"GPSLon\": \"-999.99\",\n    \"Obstcl\": \"540\",\n    \"MowTim\": \"851\",\n    \"Mag\": \"34\",\n    \"SMag\": \"21\",\n    \"InOut\": \"1\",\n    \"Heap\": \"158960\",\n    \"CPUTemp\": getRandomArbitrary(23, 100),\n    \"RSSI\": getRandomArbitrary(20, 100)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 700,
        "wires": [
            [
                "0c2840f3685ce7cc"
            ]
        ]
    },
    {
        "id": "c3d2161f8500989b",
        "type": "http in",
        "z": "0cefd40a70793065",
        "name": "",
        "url": "/AM/STOP",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "2a640d820bb04765",
                "56e809a9d613b0b2"
            ]
        ]
    },
    {
        "id": "2a640d820bb04765",
        "type": "link out",
        "z": "0cefd40a70793065",
        "name": "Emergency Stop In",
        "links": [
            "f7ac5760ed21a3b4"
        ],
        "x": 295,
        "y": 360,
        "wires": []
    },
    {
        "id": "0dc96467b4d56b4c",
        "type": "comment",
        "z": "0cefd40a70793065",
        "name": "Simulating the mower",
        "info": "",
        "x": 200,
        "y": 660,
        "wires": []
    },
    {
        "id": "efc175acbdd715b2",
        "type": "file",
        "z": "0cefd40a70793065",
        "name": "",
        "filename": "AutoMower/WebAppSchedule.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "20b4e45d6b395131"
            ]
        ]
    },
    {
        "id": "56e809a9d613b0b2",
        "type": "http response",
        "z": "0cefd40a70793065",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "47a5b0369f6590e9",
        "type": "http in",
        "z": "0cefd40a70793065",
        "name": "",
        "url": "/AM/Mow",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 580,
        "y": 300,
        "wires": [
            [
                "24d574630c021b07",
                "76860f74a40b59ef"
            ]
        ]
    },
    {
        "id": "24d574630c021b07",
        "type": "link out",
        "z": "0cefd40a70793065",
        "name": "Stqrt mow in",
        "links": [
            "9d9b11ef896892a6"
        ],
        "x": 755,
        "y": 360,
        "wires": []
    },
    {
        "id": "76860f74a40b59ef",
        "type": "http response",
        "z": "0cefd40a70793065",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "0c2840f3685ce7cc",
        "type": "websocket out",
        "z": "0cefd40a70793065",
        "name": "Websockt for web APP",
        "server": "2fa3dcb537a02731",
        "client": "",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "2fa3dcb537a02731",
        "type": "websocket-listener",
        "path": "/AM/ws",
        "wholemsg": "false"
    }
]